body{
    font-family: 'Poppins', sans-serif;
    margin: 0px 0px; 
    display: flex;
  } 

/* header  */ 

.title{
    font-weight: 700;
    font-size: 70px;
    position: absolute;
    margin: 230px 1125px 240px 235px;
    color: white;
}

.top{
    background-color: rgb(84, 0, 219);
    position: absolute;
    width: 100%;
    height: 80%;
}

.top img{
    position: absolute;
    height: 65%;
    margin: 155px 140px 86px 1155px;    
}
.top img:hover{
    transform: matrix(-1, 0, 0, 1, 0, 0);
    transition: 2s;
}
.watch{
    display: flex;
    padding: 15px 53px;
    position: absolute;
    margin: 558px 0px 0px 236px;
    background-color: #E02C6D;
}
.watch a{
    text-decoration: none;
    color: white;
}
.watch i{
    margin-left: 11px;
}

/* player section  */
main{
    margin-top: 900px;
}

.players{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    margin: 0px 200px 0px 300px;
}
.player{
    margin-bottom: 50px;
    text-align: left;
    flex-direction: row; 
    width: 330px;
    height: 500px;
    padding: 15px 15px;
    background: #FFFFFF;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}

.player img{
    width: 100%;
    height: 50%;
}

.player-details p{
    font-weight: 10;
    font-size: 15px;
}
/* footer  */
footer{
    margin-top: 200em;
    position: absolute;
    display: flex;
    
}

.footer-image{
    justify-content: center;
    align-items: center;
    margin: 100px 0px 0px 500px;
    margin-bottom: 20px;
}

.social-link{
    margin: 0px 0px 100px 650px;
    text-align: center;

}

.social-link a{
    margin-left: 10px;
    width: 100px;
    height: 200px;
}